GameData(
  rune_levels: [
    RuneLevel(
      name: ["Lo", "Ee", "Pal", "Sok"],
      description: ["Low", "Medium", "High", "Extreme high"]
    ),
    RuneLevel(
      name: ["Ful", "Des", "Zo"],
      description: ["Fire", "Earth", "Magic"]
    ),
    RuneLevel(
      name: ["Ven", "Kath"],
      description: ["Projectile", "Shield"]
    )
  ],
  spell_data: [
    SpellData(rune_indexes: [0, 0], kind: Firebolt, target: Enemy),
    SpellData(rune_indexes: [1, 1], kind: EarthShield, target: Caster),
    SpellData(rune_indexes: [2, 1], kind: Shield, target: Caster),
    SpellData(rune_indexes: [2, 0], kind: MagicMissile, target: Enemy),
  ],
)